* {
    margin: auto 0;
    padding: 0;
    background-color: #FFFEEE;
  
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Merchant Font', 'Manrope','sans-serif';
  }
  
  .project-hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFEEE;
    padding: 60px 40px;
    font-family: 'Manrope', sans-serif;
    max-width: 100%;
    padding: 0 4rem;
  }
  
  .project-text {
    flex: 1 1 50%;
    padding-right: 40px;
  }
  
  .project-text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #111;
  }


  .project-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #111;
  max-width: 700px;
  margin-bottom: 40px;
}

.project-text p strong {
  font-weight: 600;
    font-size: 1.4rem;
}

.project-hero .prototype-button-wrapper {
  justify-content: left;
  align-items: left;
}

  .project-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    border-top: 1px solid #444;
    padding-top: 30px;
    color: #111;
  }
  
  .project-meta h4 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .project-meta p {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .project-image {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
  }
  
  .project-image img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 12px;
}

  .babel-section {
  background-color: #FFFEEE;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.babel-container {
  max-width: 1200px;
  text-align: center;
}


.babel-image {
  width: 100%;
  max-width: 1200px;
  height: auto;
}

/* overview */
  /*Overview*/
.babel-overview-section {
  background-color: #FFFEEE;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  font-family: 'Manrope', sans-serif;
  color: #111;
}

.babel-overview-container {
  max-width: 900px;
  width: 100%;
}

.overview-heading {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-transform: lowercase;
  color: #333;
}

.main-heading {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.section-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.problem-description {
 font-size: 1.3rem;
 line-height: 1.4;
}

.solution-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}


.problem-question-box {
  background-color: #f0ebe5;
  padding: 1.2rem;
  margin-top: 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.solution-section {
  background-color: #fefdef;
  padding: 4rem 2rem;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  color: #111;
}

.solution-container {
  max-width: 900px;
  margin: 0 auto;
}

.solution-container h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.solution-tagline {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.75rem;
  max-width: 900px;
}

.solution-subtext {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 2rem;
}

.solution-video-wrapper {
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}

.solution-video {
  width: 100%;
  border-radius: 55x;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.prototype-button-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.prototype-button {
  background-color: #e9d4ff ;
  color: #111;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  border: none;
  /* border-radius: 999px; */
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
 
}

.prototype-button:hover {
   color: #fefdef;
}



  /* Problem Statement Block */
.problem-statement-block {
  background-color: #F7A881;
  padding: 40px 100px;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  color: #F9F6ED;
}

.problem-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.problem-question p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.highlight-question {
  font-weight: 600;
  text-decoration: underline;
}


/*Design Process */
.process-section {
    background-color: #FFFEEE;
    padding: 0 30px;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    position: sticky;
    z-index: 100;
    object-fit: fill;
    top: 0;
    left: 0%;
    right: 0%;
  }
  
  .process-container {
    display: flex;
    gap: 200px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #e9d4ff;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .process-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    font-weight: medium;
    color: #222;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #FFFEEE;
  }

/*Research*/
.research-section {
 background-color:#FFFEEE;
  padding: 4rem 2rem;
  font-family: 'Manrope', sans-serif;
  color: #111;
  display: flex;
  justify-content: center;
}

.research-container {
  max-width: 900px;
  width: 100%;
}

.research-section h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.context-section .highlight-keyword {
  color: #f27e30;
  font-weight: 600;
}

.context-section p strong {
  font-weight: 600;
}

.context-tite {
  font-size: 1.3rem;
}

.problem-list {
  padding-top: 2rem;
  list-style-type: disc;
  padding-left: 20px;
}

.problem-list li {
  font-size: 1.1rem;
  margin-bottom: 10px;
  line-height: 1.3;
}

/* Key Problems Section */

.research-subtitle {
  margin-top: 2.5rem;
}

.problem-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fffef7;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.03);
}

.problem-card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #2a2a2a;
}

.problem-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #535353;
}

/*User Survey*/
/* Babel.css */

.babel-validation {
 background-color:#FFFEEE;
  font-family: 'Manrope', sans-serif;
  margin-top: 6rem;
  color: #111;
  justify-content: center;
}

.babel-section-title {
  color: #f27e30;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.babel-validation .babel-highlight {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 18px;
}

.babel-body {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.babel-body .highlight-keyword {
   color: #f27e30;
}

.babel-survey-box {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}

.babel-survey-label {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.babel-question-list {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.babel-question-list li {
  font-size: 1rem;
  margin-bottom: 8px;
}

.babel-validation .diagram-placeholder {
  border-radius: 10px;
  margin-bottom: 2rem;
  font-style: italic;
  color: #666;
} 

.babel-Painpoints {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
}


/*User painpoints*/
.babel-painpoints {
 background-color:#FFFEEE;
  font-family: 'Manrope', sans-serif;
  margin-top: 6rem;
  color: #111;
  justify-content: center;
}

.painpoints-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.babel-painpoints .babel-body {
  font-size: 1.1rem;
  margin-top: 20px;
  margin-bottom: 20px;
}


.painpoints-image {
  width: 100%;
  max-width: 1100px;
  height: auto;
 
}

/*Competitve Analysis*/
.babel-competitive-analysis {
  background-color:#FFFEEE;
  font-family: 'Manrope', sans-serif;
  color: #111;
  justify-content: center;
}

.babel-section-title {
    margin-top: 6rem;
}


.diagram-placeholder .babel-Competitve-Analysis {
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  margin-top: 20px;
}

/*Proposed Solution*/
.goal-section {
  margin-top: 6rem;
}

.goal-section p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.goal-section p strong {
  font-size: 1.3rem;
}

.goal-section .goal-title {
  font-size: 1.3rem;
}


/*Analysis*/
.babel-analysis-section {
 background-color: #FFFEEE;
  padding: 4rem 2rem;
  font-family: 'Manrope', sans-serif;
  color: #111;
  max-width: 900px;
  margin: 0 auto;
}

.babel-analysis-section h2 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.babel-analysis-section h4 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.babel-analysis-section p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #111;
}

.analysis-image  {
    margin-top: 2rem;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1rem;
}

.user-journey h4 {
  font-size: 1.3rem;
}

.user-journey .analysis-image {
   margin-top: 2rem;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 1rem;
}

/*Ideation*/
.ideation-section {
    background-color: #FFFEEE;
    padding: 40px 30px;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #111;
  }
  
  .ideation-section h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }

   .ideation-section h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 16px;
  }
  
    .IA-description {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    max-width: 900px;
    margin-bottom: 40px;
  }

  .IA-description strong {
    font-weight: 600;
  }

  .text-block p {
    font-size: 1.1rem;
  }

.highlight-keyword {
     color: #f27e30;
  }

  .IA-image {
    width: 100%;
    max-width: 900px;
    margin-top: 4rem;
  }

  .Redesign {
    margin-top: 4rem;
  }

  .problem-list strong {
    font-weight: 600;
  }

/*user flow*/
.Userflow {
  background-color: #FFFEEE;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #111;
    margin-top: 4rem;
  }

.scenario-description {
   font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    max-width: 900px;
    margin-bottom: 40px;
}

/*High-fidelity*/

.High-fidelity {
  background-color: #FFFEEE;
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #111;
    margin-top: 4rem;
  }

.high-fidelity-description {
   font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    max-width: 900px;
    margin-bottom: 40px;
}

.After-image {
  margin-top: 2rem;
}
