/* * {
    margin: auto 0;
    padding: 0;
    background-color: #FFFEEE;
  
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Merchant Font', 'Manrope','sans-serif';
  }
  
  .project-hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFEEE;
    padding: 60px 40px;
    font-family: 'Manrope', sans-serif;
    max-width: 100%;
    padding: 0 4rem;
  }
  
  .project-text {
    flex: 1 1 50%;
    padding-right: 40px;
  }
  
  .project-text h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #111;
  }


  .project-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #111;
  max-width: 700px;
  margin-bottom: 40px;
}

.project-text p strong {
  font-weight: 600;
    font-size: 1.3rem;
}

.project-hero .prototype-button-wrapper {
  justify-content: left;
  align-items: left;
}

  .project-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    border-top: 1px solid #444;
    padding-top: 30px;
    color: #111;
  }
  
  .project-meta h4 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .project-meta p {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .project-image {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
  }
  
  .project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
} */

.project-hero-updated {
  background-color: #FFFEEE;
  padding: 0 4rem;
  font-family: 'Manrope', sans-serif;
}

.top-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: flex-start;
  justify-content: space-between;
}

.project-text p {
  flex: 1 1 50%;
  font-size: 1.1rem;
line-height: 1.6;
color: #111;
max-width: 700px;
margin-bottom: 40px;
}


.project-text p strong {
    font-weight: 600;
    font-size: 1.3rem;
}

.project-image {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
}

.project-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.prtotype-button {
    padding: 0.5rem 1.2rem;
    background-color: #111;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1rem;
    display: inline-block;
}

.prototype-button-wrapper {
  margin-top: 1rem;
   justify-content: left;
  align-items: left;
}

.prototype-button {
  padding: 0.5rem 1.2rem;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 1rem;
  display: inline-block;
}

.updated-meta {
   display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    border-top: 1px solid #444;
    padding-top: 30px;
    color: #111;
    margin-top: 4rem;
    margin-bottom: 60px;
}


.updated-meta h4 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.updated-meta p {
  font-size: 1rem;
  line-height: 1.4;
}

