.selected-works {
    padding: 6rem;
    text-align: left;
  }

.selected-works h1 {
    font-size: 5rem;
    font-weight: medium;
}

.selected-works .arrow {
    font-size: 3.5rem; /* Make it larger */
    font-weight: medium;
    display: inline-block;
    margin: 0 2rem;
}

.image-wrapper {
  width: 100%;
  display: flex;
  flex-direction: Column;
  width: 1000px;
  margin: 2 auto;
  padding: 1rem;
}




