.selected-works {
  text-align: left;
}

.selected-works h1 {
  font-size: 5rem;
  font-weight: medium;
}


.selected-works .arrow {
  font-size: 3.5rem;
  font-weight: medium;
  display: inline-block;
  margin: 0 2rem;
}

.image-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  padding: 1.25rem;
}

/* ========== TABLET (768px–1023px) ========== */
@media (max-width: 1023px) and (min-width: 768px) {
  .selected-works h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .selected-works .arrow {
    font-size: 2.5rem;
    margin: 0 1rem;
    text-align: center;
  }

  .image-wrapper {
    max-width: 100%;
    padding: 1rem;
  }

  .card-section {
    flex-direction: column;
    align-items: center;
  }
}

/* ========== MOBILE (≤ 767px) ========== */
@media (max-width: 767px) {
  .selected-works {
    text-align: center;
    padding-top: 1rem;
  }

  .selected-works h1 {
    font-size: 2.5rem;
  }

  .selected-works .arrow {
    font-size: 2rem;
    margin: 0 0.5rem;
  }

  .image-wrapper {
    max-width: 100%;
    padding: 1rem;
  }

  .zynergy, .furryTales, .NedSpeak, .babel {
    font-size: 0.9rem;
    text-align: center;
    padding: 10px 0;
  }

  .card-section {
    flex-direction: column;
    align-items: center;
  }

  .cardFooter-wrapper {
    margin-left: 12rem;
  }
  
    .cardFooter-wrapper .card-button {
    padding: 6px 9px;
    font-size: 14px;
  }

}





