* {
    margin: auto 0;
    padding: 0;
    background-color: #FFFEEE;
  
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Merchant Font', 'Manrope','sans-serif';
  }
  
  .project-hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFEEE;
    padding: 60px 40px;
    font-family: 'Manrope', sans-serif;
    max-width: 100%;
  }
  
  .project-text {
    flex: 1 1 50%;
    padding-right: 40px;
  }
  
  .project-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #111;
  }

  
  .project-text p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #222;
    max-width: 700px;
    margin-bottom: 40px;
  }
  
  .project-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    border-top: 1px solid #444;
    padding-top: 30px;
    color: #111;
  }
  
  .project-meta h4 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .project-meta p {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .project-image {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
  }
  
  .overview-section .project-image img {
    max-width: 50%;
    margin-top: 20px;
    height: auto;
    border-radius: 12px;
  }

  .project-thumbnail img {
    max-height: 800px; /* or 300px */
    width: auto;
    display: block;
    margin: auto;
    max-width: 100vw;
  }

  /*Overview*/
  .overview-section {
    padding: 60px 200px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #F9F6ED;
    background-color: #202020;
  }

  /* Section Titles */
.overview-section h2 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 40px;
}

.overview-section h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #FFFEEE;
}

.overview-section p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Highlighted Phrases */
.overview-section .highlight-blue {
  color: #364AD9;
  font-weight: 600;
}

.overview-section .highlight-link {
  color: #364AD9;
  text-decoration: underline;
  cursor: pointer;
}

   /* Problem Statement Block */
.overview-section .problem-statement-block {
  background-color: #364AD9;
  padding: 40px 100px;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  color: #F9F6ED;
}

.problem-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.problem-question p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.highlight-question {
  font-weight: 600;
  text-decoration: underline;
}

/* Key Problems Section */
.key-problems-heading {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: #888;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
}

.problems-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.problem-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fffef7;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.03);
}

.problem-card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #2a2a2a;
}

.problem-card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #535353;
}


/* Spacing Utility */
.section-spacing {
  margin-top: 20px;
}

/* Project Goal */
.babel-section .goal-heading {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #FFFEEE;
}

  /*Design Process */
.process-section {
    background-color: #FFFEEE;
    padding: 0 30px;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    position: sticky;
    z-index: 100;
    object-fit: fill;
    top: 0;
    left: 0%;
    right: 0%;
  }
  
  .process-container {
    display: flex;
    gap: 200px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #FFFEEE;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .process-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    font-weight: medium;
    color: #222;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #d9b6f2;
  }


  /*Research*/
  .research-section {
  background-color: #FFFEEE;
  padding: 60px 30px;
  font-family: 'Manrope', sans-serif;
  color: #111;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
}

.research-section h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

  .subheading {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 40px 0 20px;
  color: #2a2a2a;
}

/* Focus Table Styling */
.focus-table-wrapper {
  overflow-x: auto;
  margin-bottom: 40px;
}

.focus-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  color: #111;
}

.focus-table th {
  text-align: left;
  font-weight: 600;
  padding: 12px 16px;
  border-bottom: 1px solid #ccc;
}

.focus-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #ccc;
}

.focus-table tr:nth-child(even) {
  background-color: #FFFEEE;
}

.box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fffdf6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.3s ease;
  margin: 20px 0;
}

.box:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
}

.box h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 12px;
  color: #222;
}

.box p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
}


  /* Analysis */
  .analysis-section {
    background-color: #FFFEEE;
    padding: 60px 30px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #111;
  }
  
  .analysis-section h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .persona-section h4,
  .competitive-section h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .persona-section p,
  .competitive-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    margin-bottom: 16px;
    max-width: 100%;
  }
  
  .persona-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
  
  .persona-img {
    max-width: 1000px;
    margin: 0 200px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  .competitive-section {
    margin-top: 60px;
  }

  .competitive-section .highlight-blue {
    color: #364AD9;
    font-weight: 600;
  }
  
  .competitive-image {
    margin-top: 30px;
    text-align: center;
  }
  
  .competitive-image img {
    max-width:80%;
    border-radius: 10px;
  }

/* Ideation */
.ideation-section {
    background-color: #FFFEEE;
    padding: 60px 30px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #111;
  }
  
  .ideation-section h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .ideation-content h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 12px;
  }
  

  .sitemap-img {
    max-width: 900px;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    margin: auto 0;
  }

  .ideation-section h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 40px;
  }
  
  .wireframes-description {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    max-width: 1000px;
    margin-bottom: 40px;
  }
  
  .wireframe-image-wrapper img {
    width: 100%;
    max-width: 900px;
    margin: auto 0;
  }

  .IA-description {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    max-width: 1000px;
    margin-bottom: 40px;
  }

  .IA-image {
    width: 100%;
    max-width:900px;
    margin: auto 0;
  }

/*Design*/
.design-section {
  background-color: #FFFEEE;
  padding: 60px 30px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
  color: #111;
}

.design-section h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.design-description {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  margin-bottom: 20px;
}

.design-section h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 16px;
  color:#364AD9;
}


.design-image {
  margin-bottom: 40px;
}

.design-image img {
  width: 100%;
  max-width: 900px; 
}

/*Validation*/
.validation-section {
  background-color: #FFFEEE;
  padding: 60px 30px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
  color: #111;
}

.validation-section h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.validation-description {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #333;
  margin-bottom: 20px;
}

.validation-image-wrapper {
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 900px;
  width: 100%;
}


  
  