* {
    margin: auto 0;
    padding: 0;
    background-color: #FFFEEE;
  
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Merchant Font', 'Manrope','sans-serif';
  }
  
  .project-hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFEEE;
    padding: 60px 40px;
    font-family: 'Manrope', sans-serif;
    max-width: 100%;
  }
  
  .project-text {
    flex: 1 1 50%;
    padding-right: 40px;
  }
  
  .project-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #111;
  }

  
  .project-text p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #222;
    max-width: 700px;
    margin-bottom: 40px;
  }
  
  .project-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    border-top: 1px solid #444;
    padding-top: 30px;
    color: #111;
  }
  
  .project-meta h4 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .project-meta p {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .project-image {
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
  }
  
  .project-image img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }

  /*Overview*/
  .overview-section {
    padding: 60px 30px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #111;
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 600px;
  }
  
  .headline {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 1.4;
    color:#364AD9;
  }
  
  .problem-section,
  .solution-section {
    margin-bottom: 40px;
  }
  
  .problem-section h4,
  .solution-section h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .problem-section p,
  .solution-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
  }
  
  .down-arrow {
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: 20px 0;
  }

  .solution-points p {
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .solution-points strong {
    font-size: 1.2rem;
    color:#364AD9;
    font-weight: 500;
  }
  
  /*Design Process */
.process-section {
    background-color: #FFFEEE;
    padding: 0 30px;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    position: sticky;
    z-index: 100;
    object-fit: fill;
    top: 0;
    left: 0%;
    right: 0%;
  }
  
  .process-container {
    display: flex;
    gap: 200px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: #FFFEEE;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .process-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    font-weight: medium;
    color: #222;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #d9b6f2;
  }

  /*Research*/

  .research-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    margin-top: 30px;
  }
  
  .research-section h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
  } 

  .box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fffdf6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
    transition: all 0.3s ease;
  }
  
  .box:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  }

  .research-section h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .box h5 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .box p,
  .box ul {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }
  

  /* Analysis */
  .analysis-section {
    background-color: #FFFEEE;
    padding: 60px 30px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #111;
  }
  
  .analysis-section h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .persona-section h4,
  .competitive-section h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .persona-section p,
  .competitive-section p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #333;
    margin-bottom: 16px;
  }
  
  .persona-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }
  
  .persona-img {
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  .competitive-section {
    margin-top: 60px;
  }

  .competitive-section p strong {
    font-weight: 600px;
  }
  
  .competitive-image {
    margin-top: 30px;
    text-align: center;
  }
  
  .competitive-image img {
    max-width:900px;
    border-radius: 10px;
  }

/* Ideation */
/* .ideation-section {
    background-color: #FFFEEE;
    padding: 60px 30px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    color: #111;
  }
  
  .ideation-section h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .ideation-content h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 12px;
  }
  

  .values-img {
    max-width: 1000px;
    margin-top: 20px;
    border-radius: 8px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }

  .sitemap-img {
    max-width: 1000px;
    width: 80%;
    margin-top: 20px;
    border-radius: 8px;
    margin: auto 0;
    justify-content: center;
    align-items: center;
  }
   */
  
  