.scroll-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: #6C2EB9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease;
}


.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-head {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fffeee;
  border-radius: 2px;
}

.arrow-stem {
  width: 4px;
  height: 15px;
  background-color: #fffeee;
}






